<% content_for :heading do %>
  Create an account
<% end %>

<% content_for :message do %>
  <% if @user.errors.any? %>
    <div class="messages error">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_for @user, :url => differentiate_path do |f| %>
  <fieldset>
    <div data-role="fieldcontain">
      <%= f.label :email %>
      <%= f.text_field :email, :placeholder => "john.doe@example.com" %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit %>
  </fieldset>
<% end %>
