<!DOCTYPE html>
<html>
<head>
  <title>RailsJqm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.css", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "debug/page-load-failed" if Rails.env.development? %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page" data-dom-cache="true">
    <div data-role="header">
      <h1><%= yield :heading %></h1>
      <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <% if current_user %>
        <%= link_button_to "log out", session_path(current_user), :method => :delete %>
      <% else %>
        <%= link_button_to "log in", new_session_path %>
        <%= link_button_to "sign up", new_user_path %>
      <% end %>
      </div>
    </div>

    <div id="messages">
      <div id="alert">
        <% if flash[:alert] %>
          <ul>
            <li><%= flash[:alert] %></li>
          </ul>
        <% else %>
          <%= yield :error %>
        <% end %>
      </div>
      <div id="notice">
        <% if flash[:notice] %>
          <ul>
            <li><%= flash[:notice] %></li>
          </ul>
        <% end %>
      </div>
    </div>

    <div data-role="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
