<!DOCTYPE html>
<html>
<head>
  <title>Jqm and Rails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.css", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/latest/jquery.mobile.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page" data-dom-cache="true">
    <div data-role="header">
      <h1><%= yield :heading %></h1>
    </div>

    <div id="messages">
      <div id="alert">
        <% if flash[:alert] %>
          <ul>
            <li><%= flash[:alert] %></li>
          </ul>
        <% else %>
          <%= yield :error %>
        <% end %>
      </div>
      <div id="notice">
        <% if flash[:notice] %>
          <ul>
            <li><%= flash[:notice] %></li>
          </ul>
        <% end %>
      </div>
    </div>

    <div data-role="content">
      <%= yield %>
    </div>

    <div data-role="navbar" data-position="fixed">
      <ul>
        <% if current_user %>
        <li>
          <a href="/users" data-icon="grid">users</a>
        </li>
        <li>
          <%= link_to "log out", session_path(current_user), :method => :delete, "data-icon" => "back" %>
        </li>
        <% else %>
        <li>
          <a href="#" data-rel="back" data-icon="back">back</a>
        </li>
        <li>
          <%= link_to "log in", new_session_path, "data-icon" => "check" %>
        </li>
        <li>
          <%= link_to "sign up", new_user_path, "data-icon" => "plus"%>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</body>
</html>
